
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Merhaba AspNet Core</title>

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templates/iportfolio-starter/assets/css/style-starter.css">
</head>



<section class="w3l-contactblock" id="contact">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="contact-heading text-center">
                <span class="text">Benimle İletişime Geçin </span>
                <h3 class="title-big">Birlikte çalışmaya <span>Var mısın</span></h3>
                <p class="mt-4">Bir Proje Hayal Etmeye Başlayalım!</p>
            </div>
            <div class="row mt-md-5 mt-4 pt-lg-3">
                <div class="col-lg-5">
                    <p>
                        Projeleriniz için iletişime açığım! Benimle iletişime geçmekten çekinmeyin! Yeni projeler ve fırsatlar hakkında bilgi vermekten mutluluk duyarım.
                    </p>
                    <ul class="address mt-md-5 mt-4">
                        <li class="mb-3">
                            <p><span class="fa fa-phone"></span> <a href="tel:+90 553 523 10 84">+90 553 523 10 84</a></p>
                        </li>
                        <li class="mb-4">
                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:design@portfolio.com">muammermetin42@gmail.com</a></p>
                        </li>
                        <li class="">
                            <p><span class="fa fa-map-marker"></span> Selçuklu/Konya.</p>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-7 mt-lg-0 mt-md-5 mt-4">
                    <form action="#" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="Name" id="Name" placeholder="İsim"
                                   required="">
                            <input type="email" class="form-control" name="Mail" id="Mail" placeholder="Mail"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="Subject" id="Subject"
                                   placeholder="Konu" required="">
                        </div>
                        <textarea name="w3lMessage" class="form-control" id="Message" placeholder="Mesaj"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-style mt-4">Mesaj Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
