﻿@model List<MyEgitimAkademi_Portfolio.Models.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Referans Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger" onclick="showAlert()">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success"onclick="showAlert2()">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial/" class="btn btn-outline-primary">Yeni Referans Ekle</a>

<script>
    function showAlert() {
        alert('Bu Bilgileri Silmeye Eminmisiniz');
    }
</script>
<script>
    function showAlert2() {
        alert('Güncelleme Sayfasına Yönlendiriliyorsunuz');
    }
</script>