
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title> Login Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Login/fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="/Login/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Giriş Sayfası</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <input type="text" name="Username" placeholder="Kullanıcı Adınız" required="" />
                    <input type="password" name="Password" class="padding" placeholder="Sifreniz" required="" />
                    <input type="submit" value="login">
                    <br />

                </form>

            </div>
            <div class="clear"> </div>
        </div>
        <div class="content3">
            <ul>
              
               
            </ul>
        </div>

        <div class="footer">
            <p> </a></p>

        </div>
    </div>
</body>
</html>